
/* remove margin and padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Konkhmer Sleokchher', cursive;
    color: white;
}

/* main container grid */ 
.container {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
    width: 100vw;
    height: 100vh;
}

/*header (navigation) content */
header {
    grid-column: 2 / -1;
    background-color: white;
    display: grid;
    align-items: center ;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

/* searchbar content */ 
.searchbar > div{
    width: 700px;
    height: 35px;
    background-color: #eef2ff;
    border-radius: 25px;
    float: left;
}

.searchbar {
    margin-left: 5%;
}

/* header > user content */
.user {
    display: flex;
    align-items: center;
    gap: 35px;
}

.user > span {
    font-size: 18px;
    color: black;
}


/* sidebar content */
.sidebar {
    grid-column-start: 1;
    grid-row: 1 / -1;    
    background: #2563eb;
}


.logo {
    display: grid;
    grid-template-columns: 50px 50px;
    margin-bottom: 30px;
    margin-left: 5%;
    align-items: center;
}

/* buttons content */
.buttonsection {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: end;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.19);
}

.buttonsection > div {
    color: black;
    float: left;
}

.buttonsection > button {
    border: none;
    font-size: 16px;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: #2563eb;
}

.buttonsection > button:hover {
    cursor: pointer;
    opacity: 0.5;

}


/* resize images */
.logo > img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin-top: 15px;
}

 .item > img {
    height: 33px;
    width: 33px;
    filter: invert(95%);
    margin-left: 10%;
}

.login > img {
    height: 55px;
    width: 55px;
    border: 2px solid #1e40af;
    border-radius: 50%;
}

.searchbar > img {
    margin-top: 3px;
    height: 28px;
    width: 28px;
    margin-right: 2px;
    float: left;
}

#notification {
    width: 24px;
    height: 24px;
}

#userlogo {
    width: 45px;
    height: 45px;
    border: 2px solid #1e40af;
    border-radius: 50%;
}


/* logo text settings */
.logo > div {
    font-family: 'Francois One', sans-serif;
    font-size: 32px;
}

/* menu text settings */

.menu > .item {
    font-size: 18px;
    color: #eef2ff;
    display: flex;
    align-items: center;
    gap: 10px;
}

a { 
    text-decoration: none;
}

/* menu grid settings */
.menu {
    display: grid;
    row-gap: 20px;
    margin-bottom: 100px;
}

.sidebar {
    display: grid;
    height: 100%;
    grid-template-rows: 2fr, 1fr, 2fr;
}

/* sidebar login settings */

.login {
    margin-top: 50%;
    margin-left: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 0.6fr 2fr;
}

#welcome {
    font-size: 16px;
}

#name {
    font-size: 24px;
}