
/* remove margin and padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
}

/* main container grid */ 
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
    width: 100vw;
    height: 100vh;
}

/*header (navigation) content */
header {
    grid-column: 2 / -1;
    background-color: white;
    display: grid;
    align-items: center ;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

/* searchbar content */ 
.searchbar > div{
    width: 700px;
    height: 35px;
    background-color: #eef2ff;
    border-radius: 25px;
    float: left;
}

.searchbar {
    margin-left: 5%;
}

/* header > user content */
.user {
    display: flex;
    align-items: center;
    gap: 35px;
}

.user > span {
    font-size: 18px;
    color: black;
}

#notification:hover {
    cursor: pointer;
}

/* sidebar content */
.sidebar {
    grid-column-start: 1;
    grid-row: 1 / -1;    
    background: #2563eb;
}


.logo {
    display: grid;
    grid-template-columns: 50px 50px;
    margin-bottom: 30px;
    margin-left: 5%;
    align-items: center;
}

/* buttons content */
.buttonsection {
    background-color: white;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    justify-content: end;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.19);
}

.buttonsection > div {
    color: black;
    float: left;
}

.buttonsection > button {
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: #2563eb;
}

.buttonsection > button:hover {
    cursor: pointer;
    opacity: 0.5;

}

/* flight tracker content */

.flightcontent {
    margin-left: 5%;
    margin-top: 1%;
    grid-column: 2 / 3 ;
    grid-row: 3 / 4;
}

.flightcontent > .text {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #172554;
    margin-bottom: 15px;
}

.flightcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* flight containers */
.flight {
    height: 250px;
    background-color: #eff6ff;
    border-radius: 20px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.flight > .gradient {
    grid-row: 1 / 3;
    border-radius: 20px 0 0 20px;
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* flight information containers*/

.flight > .content {
    grid-column-start: 2;
    grid-row: 1 / 2;
    margin-top: 10px;
    margin-left: 10%;
}

.departuretime {
    position: relative;
    right: 10px;
    font-size: 24px;
    color: #0c4a6e;
}

.flightcode {
    position: relative;
    left: 50px;
    color: #0c4a6e;
}

.flightcode span {
    color: #0c4a6e;
    font-weight: 500;


}

.flightinfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flightinfo span {
    color: #312e81;
    font-size: 40px;
}

/* flight actions container */

.actions {
    display: flex;
    gap: 20px;
    margin-right: 5%;
    margin-bottom: 5%;
    justify-content: end;
    align-items: flex-end;
}

.actions:hover {
    cursor: pointer;
}

/* feed container */
.feed {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin-left: 5%;
    margin-top: 1%;
}

.feed > .text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.5px;
    color: #172554;
}

/* announcements container (under feed)*/
.announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

.announcements > .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background-color: #eff6ff;
    border-radius: 20px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.19);
}

.announcement {
    color: #0c4a6e;
}

.flightnumber {
    color: #0c4a6e;
    font-weight: 500;
}

/* trending container */
.trending {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (auto-fill, minmax(50px, 1fr));
    gap: 10px;
}

.trending > .content {
    display: grid;
    grid-template-columns: 1rem 1fr;
    border-radius: 20px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.19);
    width: 170px;
    height: 50px;
    background-color: #fca5a5;
}

.content > .gradient {
    border-radius: 20px 0 0 20px;
    background: rgb(223,45,85);
    background: linear-gradient(4deg, rgba(223,45,85,1) 0%, rgba(228,15,15,1) 35%, rgba(255,154,0,1) 100%);
}

.content > .info {
    font-weight: 500;
    text-align: center;
    align-self: center;
}

.info > span {
    font-size: 25px;
    color: #b91c1c;
}

/* resize images */
.logo > img {
    height: 50px;
    width: 50px;
    filter: invert(100%);
    margin-top: 15px;
}

 .item > img {
    height: 33px;
    width: 33px;
    filter: invert(95%);
    margin-left: 10%;
}

.login > img {
    height: 55px;
    width: 55px;
    border: 2px solid #1e40af;
    border-radius: 50%;
}

.searchbar > img {
    margin-top: 3px;
    height: 28px;
    width: 28px;
    margin-right: 2px;
    float: left;
}

#notification {
    width: 24px;
    height: 24px;
}

#userlogo {
    width: 45px;
    height: 45px;
    border: 2px solid #1e40af;
    border-radius: 50%;
}

.flightinfo img {
    width: 20px;
    height: 20px;
}

.actions > img {
    grid-column: 2;
    grid-row: 2 / 3;
    width: 30px;
    height: 30px;
}

.content > .info > img {
    width: 18px;
    height: 18px;
}

/* logo text settings */
.logo > div {
    font-family: 'Francois One', sans-serif;
    font-size: 32px;
}

/* menu text settings */

.menu > .item {
    font-size: 18px;
    color: #eef2ff;
    display: flex;
    align-items: center;
    gap: 10px;
}

a { 
    text-decoration: none;
}

/* menu grid settings */
.menu {
    display: grid;
    row-gap: 20px;
    margin-bottom: 100px;
}

.sidebar {
    display: grid;
    height: 100%;
    grid-template-rows: 2fr, 1fr, 2fr;
}

/* sidebar login settings */

.login {
    margin-top: 50%;
    margin-left: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 0.6fr 2fr;
}

#welcome {
    font-size: 16px;
}

#name {
    font-size: 24px;
}